<div class="slide-card" [class.visible]="visible">
  <div class="accent-bar" [style.background]="'linear-gradient(90deg,' + training.tagColor + ',#00C98A)'"></div>
  <div class="slide-body">

    <!-- Header -->
    <div class="slide-header">
      <span class="slide-num">{{ training.num }}</span>
      <span class="slide-tag" [style.background]="training.tagBg" [style.color]="training.tagColor">
        <span class="tag-dot" [style.background]="training.tagColor"></span>
        {{ training.tag }}
      </span>
    </div>

    <!-- Slide 01: text left, icon right -->
    <ng-container>
      <h2 class="slide-title">{{ training.title }}</h2>
     <img alt="slide1" style="width: -webkit-fill-available;" [src]="training.image">

    </ng-container>
  </div><!-- /slide-body -->
</div>
